*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* border: 1px solid black; */
    margin: 0;
    background: linear-gradient(to right, #f6fa02, #00FF6C);
}

.App{
    border: 10px solid rgba(46, 26, 26, 0.342);
    border-radius: 20px;
    display: grid;
    margin-top: 10rem;
    margin-left: 10rem;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows: minmax(2rem, auto) repeat(2, 6rem);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
}